<!DOCTYPE html>
<html>
<head>
  <title>PsychViz</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta property="og:image" content="<%= asset_path('chart-screencap.png') %>" />
  <meta property="og:description" content="PsychViz is a fun new way to find your personality type, visualize your personality space, and compare it with your friends!" />
</head>
<body>

  <% if current_user %>
  <header class="bck dark header">
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out", style: "float: right;" %>
  </header>

  <%= yield %>

  <% else %>

  <section class="bck darkest landing text center color white" id="abId0.5089036475401372">

    <div class="row">
      <div class="column_10 offset_1 text center book">
        <h1><strong>Psych</strong>Viz</h1>
        <h3 class="margin-bottom">Take the quiz.<br />
          Get your personality type.<br />
          Compare your personality space with your friends.</h3>
      </div>
    </div>

    <div class="row" id="abId0.7010507672093809">
      <form action="/auth/facebook">
        <button id= "sign_in" class="offset_4 large column_4">Sign in with Facebook</button>
      </form>
    </div>

    <h5 class="text book">You need to sign-in in order to access the quiz.</h5>

  </section>

  <% end %>



  <footer class="bck dark padding">
    <div class="row margin-top margin-bottom" style="padding: 0 65px 0 65px;">
      <div style="float:left;">
        <a id="about" href="#about" class="text bold big" onclick="return false;"><span class="icon group"></span>About</a>
      </div>

      <div style="float:right;">
        <a class="text bold big" href="https://github.com/negomi/psychoviz.git" ><span class="icon github"></span>GitHub</a>
      </div>

    </div>
  </footer>
  <a name="results" style="position:relative; top:60px;"></a>

  <section class="padding bck color results" style="display:none;">
    <div class="row margin-bottom">
      <div class="column_10 offset_1 text center">
        <h1 class="color book theme">Your results</h1>
        <p>Share PsychViz with your friends and compare your personalities!</p>
<div class="fb-like" data-href="http://psychoviz.herokuapp.com" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </div>

    <div class="row ">
      <div class="column_10 offset_1 text center" id="results">
        <div id="personality-type" style="font-size:2em;"></div>
        <canvas id="myChart">
        </canvas><br />
        <button id="find-friends">Compare to your friends!</button>
        <div class="loader loading" style="display:none;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="loading" style="display:none;">Loading friends</span>
      </div>
      <aside id="friends" class="column_4" style="display:none;">
      </aside>
    </div>
  </section>

  <section class="padding bck color">
    <div class="row margin-bottom">
      <div class="column_10 offset_1 text center">
        <a name="about">
          <h1 class="color book theme">The Test</h1>
        </a>
        <h3 class="text thin">The Myers-Briggs Type Indicator (MBTI) assessment is a psychometric questionnaire designed to measure psychological preferences in how people perceive the world and make decisions.These preferences were extrapolated from the typological theories proposed by Carl Gustav Jung and first published in his 1921 book Psychological Types. Jung theorized that there are four principal psychological functions by which we experience the world: <strong>sensation, intuition, feeling, and thinking</strong>. One of these four functions is dominant most of the time.</h3>
      </div>
    </div>

    <div class="row ">
      <div class="column_4 offset_4 text center">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/CognitiveFunctions.png/600px-CognitiveFunctions.png" class="responsive rounded margin-bottom">
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1384994725.html#_=1385015181048&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=thecarljung&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button  twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 208px; height: 20px;"></iframe>
        <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script><script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>
    </div>
  </section>

</body>
</html>
