<!DOCTYPE html>
<html>
<head>
  <title>PsychViz</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="description" content="PsychViz is a fun new way to find your personality type, visualize your personality space, and compare it with your friends!" />
  <meta name="keywords" content="personality type, personality test, Carl Jung, psychology, Myers-Briggs, MBTI, personality comparison" />
  <meta property="og:title" content="PsychViz" />
  <meta property="og:image" content="http://www.psychviz.com<%= asset_path('chart-screencap.png') %>" />
  <meta property="og:description" content="PsychViz is a fun new way to find your personality type, visualize your personality space, and compare it with your friends!" />
  <meta property="og:url" content="http://www.psychviz.com/" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="654335351275585" />
  <link rel="icon" type="image/ico" href="<%= asset_path('favicon.ico') %>"/>
</head>
<body>

  <% if current_user %>
  <header class="bck dark header">
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out", style: "float: right;" %>
  </header>

  <%= yield %>

  <% else %>

  <section class="bck darkest landing text center color white" id="abId0.5089036475401372">

    <div class="row">
      <div class="column_10 offset_1 text center book">
        <h1><strong>Psych</strong>Viz</h1>
        <h3 class="margin-bottom">Take the quiz.<br />
          Get your personality type.<br />
          Compare your personality space with your friends.</h3>
      </div>
    </div>

    <div class="row" id="abId0.7010507672093809">
      <form action="/auth/facebook">
        <button id= "sign_in" class="offset_4 large column_4">Sign in with Facebook</button>
      </form>
    </div>

  </section>

  <% end %>


<section class="bck dark">
  <div class="row text center">
    <nav class="column_12 padding text bold" data-tuktuk="menu">
        <a id="about" href="#about" class="text bold big" onclick="return false;"><span class="icon info-sign"></span>About</a>


        <a id="devs" href="#devs" class="text bold big" onclick="return false;"><span class="icon double-angle-left" style="margin:0 0 0 12px;"></span>Developers<span class="icon double-angle-right"></span></a>


        <a class="text bold big" href="https://github.com/negomi/psychviz.git" ><span class="icon github"></span>GitHub</a>


    </nav>
  </div>
</section>
  <a name="results" style="position:relative; top:60px;"></a>

  <section class="padding bck color results" style="display:none;">
    <div class="row margin-bottom">
      <div class="column_10 offset_1 text center">
        <h1 class="color book theme">Your results</h1>
        <p>Share PsychViz with your friends and compare your personalities!</p>
        <div class="fb-like" data-href="http://www.psychviz.com" data-width="200" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>

    </div>

    <div class="row ">
      <div class="column_10 offset_1 text center" id="results">
        <a name="personality-type"></a>
        <div id="personality-type"></div>
        <div id="personality-info" style="display:none;"></div>
        <canvas id="myChart">
        </canvas><br />
        <canvas id="hiddenCanvas" width="500" height="500" style="display:none;"></canvas>
        <button id="find-friends">Compare to your friends</button><br /><br />
        <button id="post-to-facebook">Share chart on Facebook</button>
        <form id="message-form">
          <label>Message</label>
          <textarea rows="4"></textarea>
          <div id="checkbox" style="display:none;">
            <input type="checkbox" name="tag" checked>Tag friend</input><br /><br />
          </div>
          <button type="submit" id="message-submit">Post</button><br />
          <p>(Must have pop-up blockers disabled)</p>
        </form>
        <div class="loader loading" style="display:none;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="loading" style="display:none;">Loading friends</span>
      </div>
      <a name="friends-section"></a>
      <aside id="friends" class="column_4" style="display:none;">
      </aside>
    </div>
  </section>

  <section class="padding bck color">
    <div class="row margin-bottom">
      <div class="column_10 offset_1 text center">
        <a name="about">
          <h1 class="color book theme">The Test</h1>
        </a>
        <h5 class="text thin">This test is based on a psychometric questionnaire designed to measure psychological preferences in how people perceive the world and make decisions.These preferences were extrapolated from the typological theories proposed by Carl Gustav Jung and first published in his 1921 book Psychological Types. Jung theorized that there are four principal psychological functions by which we experience the world: <strong>sensation, intuition, feeling, and thinking</strong>. One of these four functions is dominant most of the time.</h5>

        <a name="disclaimer">Disclaimer</a>
        <p id="disclaimer" style="display:none;">We are not psychologists and this is not an official psychological diagnostic exam. PsychViz is just for fun and the results are not scientific.</p>
      </div>
    </div>

    <div class="row ">
      <div class="column_4 offset_4 text center">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/CognitiveFunctions.png/600px-CognitiveFunctions.png" class="responsive rounded margin-bottom">
      </div>
      <div class="column_6 offset_3 text center">
        <p>A diagram depicting the cognitive functions of each type. A type's background color represents its Dominant function, and its text color represents its Auxiliary function.</p>
      </div>
      <div class="column_6 offset_3 text center margin-top">
        <h1 class="color book theme text center">Personality Types</h1>
      </div>
      <div class="column_11 text">
      <h3 class="text thin"><strong>Attitudes: extraversion/introversion (E/I)</strong></h3>
        <p>People who prefer extraversion draw energy from action: they tend to act, then reflect, then act further. If they are inactive, their motivation tends to decline. To rebuild their energy, extraverts need breaks from time spent in reflection. Conversely, those who prefer introversion "expend" energy through action: they prefer to reflect, then act, then reflect again. To rebuild their energy, introverts need quiet time alone, away from activity.</p><br />

        <p>The extravert's flow is directed outward toward people and objects, and the introvert's is directed inward toward concepts and ideas. Contrasting characteristics between extraverts and introverts include the following: <br />

            <li>Extraverts are "action" oriented, while introverts are "thought" oriented.</li>
            <li>Extraverts seek "breadth" of knowledge and influence, while introverts seek "depth" of knowledge and influence.</li>
            <li>Extraverts often prefer more "frequent" interaction, while introverts prefer more "substantial" interaction.</li>
            <li>Extraverts recharge and get their energy from spending time with people, while introverts recharge and get their energy from spending time alone; they consume their energy through the opposite process.</li>
        </p><br />

      <h3 class="text thin"><strong>Functions: sensing/intuition (S/N) and thinking/feeling (T/F)</strong></h3>
        <p>Jung identified two pairs of psychological functions:<br />
          <li>The two perceiving functions, sensing and intuition</li>
          <li>The two judging functions, thinking and feeling</li>
        </p><br />
        <p>Sensing and intuition are the information-gathering (perceiving) functions. They describe how new information is understood and interpreted. Individuals who prefer sensing are more likely to trust information that is in the present, tangible, and concrete: that is, information that can be understood by the five senses. They tend to distrust hunches, which seem to come "out of nowhere". They prefer to look for details and facts. For them, the meaning is in the data. On the other hand, those who prefer intuition tend to trust information that is more abstract or theoretical, that can be associated with other information (either remembered or discovered by seeking a wider context or pattern). They may be more interested in future possibilities. For them, the meaning is in the underlying theory and principles which are manifested in the data.</p><br />
        <p>Thinking and feeling are the decision-making (judging) functions. The thinking and feeling functions are both used to make rational decisions, based on the data received from their information-gathering functions (sensing or intuition). Those who prefer thinking tend to decide things from a more detached standpoint, measuring the decision by what seems reasonable, logical, causal, consistent, and matching a given set of rules. Those who prefer feeling tend to come to decisions by associating or empathizing with the situation, looking at it 'from the inside' and weighing the situation to achieve, on balance, the greatest harmony, consensus and fit, considering the needs of the people involved. Thinkers usually have trouble interacting with people who are inconsistent or illogical, and tend to give very direct feedback to others. They are concerned with the truth and view it as more important.</p><br />

        <h3 class="text thin"><strong>Lifestyle: judging/perception (J/P)</strong></h3><br />
        <p>Myers and Briggs added another dimension to Jung's typological model by identifying that people also have a preference for using either the judging function (thinking or feeling) or their perceiving function (sensing or intuition) when relating to the outside world (extraversion).</p><br />
        <p>Myers and Briggs held that types with a preference for judging show the world their preferred judging function (thinking or feeling). So TJ types tend to appear to the world as logical, and FJ types as empathetic. According to Myers, judging types like to "have matters settled".</p><br />
        <p>Those types who prefer perception show the world their preferred perceiving function (sensing or intuition). So SP types tend to appear to the world as concrete and NP types as abstract. According to Myers, perceptive types prefer to "keep decisions open".</p><br />
        <h6>Excerpted from <a href="http://en.wikipedia.org/wiki/Myers-Briggs_Type_Indicator">Wikipedia</a></h6>
    </div>

    <div class="row " id="devs">
      <a name="devs"></a>
      <h1 class="color book theme text center">Developers</h1>
      <div class="column_4 text center">
        <h3>Imogen Wentworth</h3>
        <img src="https://avatars0.githubusercontent.com/u/3727684?s=400" class="responsive rounded margin-bottom">
        <a href="http://www.imogenation.net"><span class="icon desktop"></span>Imogenation.net</a><br />
        <a href="https://github.com/negomi"><span class="icon github-alt"></span>Github</a><br />
        <a href="https://twitter.com/imogenwentworth"><span class="icon twitter"></span>@imogenwentworth</a>
      </div>
      <div class="column_4 text center">
        <h3>Shindō N. Strzelczyk</h3>
        <img src="https://avatars3.githubusercontent.com/u/5482422?s=460" class="responsive rounded margin-bottom">
        <a href="http://shindostrz.github.io"><span class="icon desktop"></span>Shindō's Portfolio</a><br />
        <a href="https://github.com/shindostrz"><span class="icon github-alt"></span>Github</a><br />
        <a href="https://twitter.com/shindostrz"><span class="icon twitter"></span>@shindostrz</a>
      </div>
      <div class="column_4 text center">
        <h3>Lo Bénichou</h3>
        <img src="https://avatars3.githubusercontent.com/u/5431395?s=400" class="responsive rounded margin-bottom">
        <a href="http://laurenbenichou.github.io/portfolio/"><span class="icon desktop"></span></span>Lo's Portfolio</a><br />
        <a href="https://github.com/laurenbenichou"><span class="icon github-alt"></span>Github</a><br />
        <a href="https://twitter.com/LoBenichou"><span class="icon twitter"></span>@LoBenichou</a>

      </div>
    </div>
  </section>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52615212-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
